<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health maintainance</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename = 'top.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <style type="text/css">
        /*ここに調整CSS記述*/
    </style>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid explanation">
          <div class="container">
            <h1 class="thema">Recommendation of Evidence Based Healthmaitainance in Japan</h1>
            <div class="statement">
              <p>滋賀家庭医療学センター監修の予防医療・ヘルスメンテナンスのサイトです。
              <p>予防医療・ヘルスメンテナンスは、健康を維持・増進するために医療者が患者に対して積極的に行う推奨・勧奨のことであり、スクリーニング、カウンセリング、予防接種、予防的内服に分類されます。</p>
              <p>どのような項目が推奨されるかについては、米国予防医学専門委員会(USPSTF)のホームページ、日本プライマリケア連合学会による「根拠に基づく予防医療推奨サイト」、国立がん研究センターの提供する「科学的根拠に基づくがん検診推進のページ」などが参考になりますが、米国と日本における考え方や検査体制の違いもあり、実際にどのような検査を患者に推奨するか悩まれた方は多いと思います。</p>
              <p>また、実際に予防医療・ヘルスメンテナンスを患者に適用するためには、どこでその検査が受けられるのか、いつその検査が受けられるのか、費用はいくらかかるのかなど、周囲の検査・医療リソースや日本における公的補助の体制についても把握する必要があります。</p>
              <p>本ページでは患者背景を入力していただくことで、当センターにおける予防医療・ヘルスメンテナンスの推奨項目を包括的に提示します。本ページがエビデンスに基づいた予防医療・ヘルスメンテナンスが1人でも多くの患者に届くため、役立つことを心から願っています。</p>
              <p>なお、本ページにおける推奨は、あくまで滋賀家庭医療学センターにおけるものですので、実際に患者様に適用される際には、その地域における特性や状況についてもご考慮いただき、適応していただきますよう、よろしくお願い申し上げます。</p>
            </div>
          </div>
          <div class="button">
            <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='index'">Get Started!</button>
          </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
</html>
